.benefit_area{
    border: $border;
    padding-bottom: 100px;
    border-bottom: 2px solid $off_white;
    @include xs{
        padding-bottom: 50px;
    }
    @include sm{
        padding-bottom: 50px;
    }
    .benefit_area_content{
        border: $border;
        .text_area{
            border: $border;
            .benefit_title{
                border: $border;
                font-size: 32px;
                font-family: $font_SemiBold;
                color: $brand_color;
                margin-bottom: 35px;
                @include xs{
                    font-size: 22px;
                    margin-bottom: 20px;
                }
                @include sm{
                    font-size: 22px;
                }
                @include md{
                    font-size: 22px;
                }
                @include lg{
                    font-size: 28px;
                }
            }
            .benefit_description{
                border: $border;
                font-size: 16px;
                font-family: $font_Regular;
                color: $light_black;
            }
        }
        .image_area{
            border: $border;
            justify-content: center;
            display: flex;
            height: 250px;
            @include xs{
              margin-top: 20px;
            }
            @include sm{
              margin-top: 20px;
            }
            img{
                border: $border;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}