.class_module {
    margin-top: 100px;
    margin-bottom: 100px;
    @include xs() {
        margin-top: 40px;
    }
    .class_module_head {
        // border: 1px solid red;
        align-items: center;
        display: flex;
        background-color: #f3f4f6;
        border-radius: 8px;
        @include xs() {
            flex-direction: column;
            width: 100%;
            padding-bottom: 15px;
        }
        .class_module_title {
            color: var(--mute-color-100, #1c1c1c);

            /* H3/Semibold 32 */
            font-style: normal;
            font-weight: 600;
            line-height: 48px;
            margin: 15px 24px;

            font-size: 32px;
            font-family: "Poppins-SemiBold";
            color: $brand_color;
            @include xs() {
                margin-left: 15px;
                margin-right: 15px;
                font-size: 20px;
                line-height: 34px;
            }
        }
        .class_module_content {
            display: flex;
            @include xs() {
                flex-wrap: wrap;
                justify-content: center;
            }
            li {
                color: var(--mute-color-80, #494949);
                font-family: Baloo Da 2;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%; /* 24px */
                margin: 0px 12px;
                @include xs() {
                    margin: 0px 5px;
                }
            }
        }
    }
    .class_module_details {
        @include xs() {
            width: 100%;
        }
        .class_module_features {
            margin-top: 24px;
            border-radius: 8px;
            border: 1px solid #d2d2d2;
            @include xs() {
                padding-top: 5px;
            }
            li {
                .class_module_title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 24px 0px;
                    margin: 0px 17px;
                    border-bottom: 1px solid rgb(217, 214, 214);
                    @include xs() {
                        justify-content: space-between;
                        margin: 0px 10px;
                        padding: 0px 10px;
                    }
                    .class_module_title_and_number {
                        display: flex;
                        @include xs() {
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
                        .class_module_number {
                            color: var(--mute-color-80, #494949);
                            font-family: Baloo Da 2;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 140%; /* 28px */
                            display: flex;
                            align-items: center;
                            @include xs() {
                                font-size: 16px;
                            }
                            span {
                                color: var(--mute-color-80, #494949);
                                font-family: Baloo Da 2;
                                font-size: 32px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 120%;
                                margin-left: 10px;
                                @include xs() {
                                    margin-left: 4px;
                                    font-size: 16px;
                                }
                            }
                        }
                        .class_module_title_details {
                            margin-left: 43px;
                            @include xs() {
                                margin-left: 20px;
                            }
                            .title {
                                color: var(--mute-color-100, #1c1c1c);
                                font-family: Baloo Da 2;
                                font-size: 22px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 150%;
                                @include xs() {
                                    font-size: 18px;
                                    text-align: center;
                                }
                            }
                            .details {
                                color: var(--mute-color-80, #494949);
                                font-family: Baloo Da 2;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 150%; /* 24px */
                                display: flex;
                                li {
                                    margin: 0px 10px;
                                    @include xs() {
                                        margin: 0px 5px;
                                    }
                                    &:first-child {
                                        margin-left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                &.active {
                    display: block;
                    .class_module_title {
                        border-bottom: 0;
                        .class_module_acordion_icon {
                            i {
                                color: red;
                                &::before {
                                    content: "\f106";
                                }
                            }
                        }
                    }
                    .class_module_feature_content {
                        display: block;
                    }
                }
                // .feature_content {
                //     display: none;
                //     ul {
                //         margin-top: 24px;
                //         margin-left: 24px;
                //         column-count: 2;
                //         width: 450px;
                //         li {
                //             display: flex;
                //             margin-bottom: 16px;
                //             .cheak_icon {
                //                 margin-right: 6px;
                //                 color: #27ae60;
                //             }
                //             .feature_content_text {
                //                 color: #1c1c1c;
                //                 font-family: Baloo Da 2;
                //                 font-size: 16px;
                //                 font-style: normal;
                //                 font-weight: 500;
                //                 line-height: 24px;
                //             }
                //         }
                //     }
                // }
                .class_module_feature_content {
                    display: none;
                    ul {
                        li {
                            margin: 0px 17px;
                            padding: 8px 0px;
                            border-top: 1px solid #d2d2d2;
                            @include xs() {
                                margin: 0px 10px;
                            }
                            .class_module_class_no {
                                color: var(--mute-color-100, #1c1c1c);

                                /* H6/Medium 16 */
                                font-family: Baloo Da 2;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 150%; /* 24px */
                                margin-bottom: 8px;
                            }
                            .live_class_and_topic {
                                margin-bottom: 16px;
                                display: flex;
                                .live_class_icon {
                                    // border: 2px solid red;
                                    img {
                                        width: 24;
                                        height: 24px;
                                    }
                                }
                                .class_module_live_class {
                                    margin-left: 8px;
                                    color: var(--mute-color-80, #494949);

                                    /* Body Regular 16 */
                                    font-family: Baloo Da 2;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 160%; /* 25.6px */
                                    @include xs() {
                                        margin-left: 3px;
                                    }
                                }
                                .class_module_topic {
                                    color: var(--mute-color-80, #494949);

                                    /* Body Regular 16 */
                                    font-family: Baloo Da 2;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 160%; /* 25.6px */
                                    margin-left: 5px;
                                    @include xs() {
                                        margin-left: 2px;
                                    }
                                }
                            }
                            .quiz_and_mcq {
                                display: flex;
                                margin-left: 5px;
                                @include xs() {
                                    margin-left: 0px;
                                }
                                .quiz_icon {
                                    i {
                                        width: 24px;
                                        height: 24px;
                                        color: #787e8a;
                                    }
                                }
                                .quiz {
                                    color: var(--mute-color-80, #494949);

                                    /* Body Regular 16 */
                                    font-family: Baloo Da 2;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 160%; /* 25.6px */
                                }
                                .mcq {
                                    color: var(--mute-color-80, #494949);

                                    /* Body Regular 16 */
                                    font-family: Baloo Da 2;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 160%; /* 25.6px */
                                    margin-left: 5px;
                                    @include xs() {
                                        margin-left: 2px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
