// feature_area start
.feature_area{
    border: $border;
    padding: 100px 0px;
    @include xs{
        padding: 50px 0px;
    }
    @include sm{
        padding: 50px 0px;
    }
    .feature_area_content{
        border: $border;
        // justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        @include xs{
            grid-template-columns: 1fr;
            gap: 30px;
        }
        @include sm{
            grid-template-columns: 1fr;
            gap: 50px;
        }
        // feature_item start
        .feature_item{
            border: $border;
            padding: 0px 90px;
            @include xs{
                padding: 0px 0px;
            }
            @include md{
                padding: 0px 10px;
            }
            @include lg{
                padding: 0px 15px;
            }
            @include xl{
                padding: 0px 40px;
            }

            .feature_logo{
                border: $border;
                justify-content: center;
                display: flex;
                .feature_logo_content{
                    border: $border;
                    width: 60px;
                    height: 60px;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    background-color:#e6e6e6;
                    border-radius: 10px;
                    i{
                        border: $border;
                        font-size: 26px;
                        color: $brand_color;
                    }
                }
              
            }
            .feature_title{
                border: $border;
                margin: 20px 0px;
                .feature_title_text{
                    border: $border;
                    font-size: 20px;
                    font-family: $font_Bold;
                    color: black;
                }
            }
            .feature_discription{
                border: $border;
                .feature_discription_text{
                    border: $border;
                    font-size: 16px;
                    font-family: $font_Regular;
                    color: $light_black;
                }
            }
        }
        // feature_item end
    }
}
// feature_area end